<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitDemoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0724E241DCC65AA009A53E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0724E3D1DCC65AD009A53E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0724E481DCC65AD009A53E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
